/* form {
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
} */

.button4-1::after {
  content: attr(text);
  font-size: 16px;
  background: linear-gradient(to left, #fff, #fff);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}

.button4-1:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.button4:hover,
.button4-1:hover {
  -webkit-box-shadow: 3px 0px 11px -4px #fff, -3px 0px 12px -4px #fff;
  -moz-box-shadow: 3px 0px 11px -4px #fff, -3px 0px 12px -4px #fff;
  box-shadow: 3px 0px 11px -4px #fff, -3px 0px 12px -4px #fff;
}

input {
  margin: 35px 0px;
  width: 500px;
  border: none;
  padding: 5px 0;
  border-bottom: solid 1px white;
  opacity: 0.8;
  background-color: transparent;
  color: white;
  font-size: 90%;
  margin-left: 10%;
}

textarea {
  margin: 35px 0px;
  font-family: "Roboto";
  width: 500px;
  border: none;
  padding: 5px 0;
  border-bottom: solid 1px white;
  background-color: transparent;
  opacity: 0.8;
  font-size: 90%;
  color: white;
  margin-left: 10%;
}

#Nom::placeholder {
  color: white;
}

.sent-btn {
  border: none;
  color: white;
  height: 40px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  border-bottom: solid 1px white;
  font-family: "Roboto";
  margin-top: 5%;
}

.reseaux {
  text-align: center;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  width: 2vw;
}

.contact {
  color: white;
  text-align: right;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 3vw;
  padding-bottom: 5%;
  margin-right: 10%;
  margin-top: -5%;
}

.contact-p {
  color: white;
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 4vw;
  margin-bottom: 3%;
  margin-top: 5%;
  margin-left: 9%;
}

.reseaux {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8vw;
  margin-bottom: 10%;
}
