.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.cercles {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.cercle1 {
  background-color: #3d3bb7;
  width: 7vw;
  height: 7vw;
  border-radius: 50px;
}

@media screen and (max-width: 1024px) {
  .cercle1 {
    width: 15vw;
    height: 15vw;
    border-radius: 75px;
  }
}

.cercle2 {
  background-color: #eedf63;
  width: 6vw;
  height: 6vw;
  border-radius: 50px;
  margin-top: -35%;
  margin-left: 3%;
}

@media screen and (max-width: 1024px) {
  .cercle2 {
    width: 12vw;
    height: 12vw;
    border-radius: 75px;
  }
}

.cercle3 {
  background-color: #fff;
  width: 5vw;
  height: 5vw;
  border-radius: 50px;
  margin-top: -85%;
}

@media screen and (max-width: 1024px) {
  .cercle3 {
    width: 10vw;
    height: 10vw;
    border-radius: 75px;
  }
}

.typefaces {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.typo1 {
  font-family: "Comfortaa";
  font-size: 4vw;
  margin-left: 8%;
}

@media screen and (max-width: 1024px) {
  .typo1 {
    font-size: 9vw;
  }
}

.typo2 {
  font-family: "Inter";
  font-size: 3vw;
  margin-top: -5%;
}

@media screen and (max-width: 1024px) {
  .typo2 {
    font-size: 7vw;
  }
}

.content > p a {
  font-family: "Roboto";
  color: white;
  opacity: 0.4;
  font-size: 1vw;
  margin-bottom: 1px;
}

@media screen and (max-width: 1024px) {
  .content > p a {
    font-size: 2vw;
  }
}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 9%;
  margin-right: 55%;
  margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 9%;
    margin-right: 10%;
    margin-bottom: 10%;
  }
}

.project1 > h1 {
  text-align: left;
  margin-left: 9%;
  font-size: 10vw;
  color: white;
  opacity: 0.5;
  font-family: "Comfortaa";
  margin-top: 0%;
  margin-bottom: 1%;
}

@media screen and (max-width: 1024px) {
  .project1 > h1 {
    text-align: center;
  }
}

.image-grand {
  width: 100%;
}

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .presentation {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Autres projets */

.autres-projets {
  width: 10%;
  text-decoration: none;
  color: white;
  opacity: 0.4;
  font-family: "Work Sans";
}

@media screen and (max-width: 1024px) {
  .autres-projets {
    width: 25%;
    margin-top: 15%;
  }
}

.autres-projets > svg {
  width: 10%;
  text-decoration: none;
  color: white;
  opacity: 0.4;
  font-family: "Work Sans";
}

.autres-projets:hover {
  color: white;
}

.caroussel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30vw;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}
