@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Bebas+Neue&family=Comfortaa:wght@300;400;500;700&family=Inter&family=Tilt+Warp&display=swap");

@font-face {
  font-family: "Aguila-Thin";
  src: url("/Public/typo/myfonts_order_5117658628266-2/Aguila-Thin.otf")
      format("woff2"),
    url("/Public/typo/myfonts_order_5117658628266-2/Aguila-Thin.otf")
      format("woff");
}

@font-face {
  font-family: "Mirador-BoldDEMO";
  src: url("/Public/typo/myfonts_order_5117658628266/Mirador-BoldDEMO.otf")
      format("woff2"),
    url("/Public/typo/myfonts_order_5117658628266/Mirador-BoldDEMO.otf")
      format("woff");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0.7;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#spinner2 {
  animation: fadeIn 1s ease-in-out alternate;
  margin-top: 14%;
}

@keyframes fadeIn {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

#middle {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: fixed; */
  top: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding-bottom: 10vh;
}

#middle h1 {
  font-size: 3vw;
  color: white;
  text-align: center;
  font-family: "Inter";
  animation: fadeIn 13s ease-in;
}

@keyframes fadeIn {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

#middle h3 {
  font-size: 5vw;
  color: white;
  text-align: center;
  font-family: "Aguila-Thin";
  font-weight: 100;
  opacity: 0.7;
  margin-top: 0%;
  animation: fadeIn 13s ease-in;
}

@keyframes fadeIn {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.video_home {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

/* about */

.text-container > h3 {
  text-align: center;
  color: #fff;
  font-family: "Roboto";
  font-size: 5vw;
  margin-top: 0%;
  margin-bottom: 10%;
}

@media screen and (max-width: 1024px) {
  .text-container > p {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 5%;
  }
}

.description {
  text-align: right;
  font-family: "Roboto";
  font-size: 1.2vw;
  color: #fff;
  margin-top: 0%;
  margin-left: 50%;
  margin-bottom: 5%;
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .description {
    font-size: 90%;
  }
}

.conteudo img {
  animation: flutuar 3s linear infinite;
}

@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-23px);
  }
}

.conteudo img:nth-child(1) {
  animation-delay: 0.8s;
}

.conteudo img:nth-child(2) {
  animation-delay: 0.8s;
}

.conteudo img:nth-child(3) {
  animation-delay: 0.8s;
}

.conteudo img:nth-child(4) {
  animation-delay: 0.8s;
}

.bulles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 6%;
  justify-items: center;
  margin-left: 17%;
  margin-right: 17%;
}

@media (max-width: 1024px) {
  .bulles {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.bulle1 {
  height: 5vw;
  width: 5vw;
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .bulle1 {
    height: 30vw;
    width: 30vw;
    border-radius: 15px;
  }
}

.bulle2 {
  height: 5vw;
  width: 5vw;
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .bulle2 {
    height: 30vw;
    width: 30vw;
    border-radius: 15px;
    margin-top: 3%;
  }
}

.bulle3 {
  height: 5vw;
  width: 5vw;
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .bulle3 {
    height: 30vw;
    width: 30vw;
    border-radius: 15px;
    margin-top: 6%;
  }
}

.bulle4 {
  height: 5vw;
  width: 5vw;
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .bulle4 {
    height: 30vw;
    width: 30vw;
    border-radius: 15px;
    margin-top: 7%;
  }
}
.bouton-pdf {
  display: block;
  width: 35vw;
  background-color: #26208d;
  border-radius: 20px;
  padding: 1%;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-family: "Roboto";
  margin-bottom: 30%;
  margin-left: 30%;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .bouton-pdf {
    text-align: center;
    font-size: 90%;
    padding: 3%;
    width: 40vw;
  }
}

.bouton-pdf:hover {
  background-color: #47438d;
}

#sec-1 {
  background-color: black;
  transform: skewY(-5deg);
  height: 20%;
  margin-bottom: -30%;
  padding-bottom: 20%;
  margin-top: -7%;
}

#sec-1 > p {
  color: transparent;
}

#sec-1 > svg {
  width: 3%;
  justify-content: right;
  justify-items: right;
  justify-self: right;
  text-align: right;
  margin-left: 94%;
  margin-top: 5%;
  display: inline-block;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9px);
  }
}

#sec-2 {
  background-color: black;
  margin-top: 20%;
}

#sec-3 {
  background-color: black;
  margin-top: 15%;
}

#sec-4 {
  background-color: #000000;
}

#sec-6 {
  background-color: black;
  margin-top: 30%;
}

.container {
  margin: 100px;
}

.text-container .text-box {
  margin: 20px;
  padding: 20px;
}

.reveal {
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Page animation */

.gif-2 {
  width: 55vw;
  margin-left: 45%;
}

.anim {
  background-color: black;
}
